.container{
    margin-top:20px;
}

.buttonContainer button{
    max-width: 500px;
    border: none;
    background-color: #3D857E;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
}
.allContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    gap:20px;
    justify-content: center;
    margin-top: 30px;
}