fb login 
edit fn
input validation hogya , translation . hogyaa
pdf style hogyaa

apiKey: "AIzaSyCmMyRY41Cbf_-YVOx1dPGrDO60kCii7_8",
    authDomain: "login-67834.firebaseapp.com",
    projectId: "login-67834",
    storageBucket: "login-67834.firebasestorage.app",
    messagingSenderId: "611800197917",
    appId: "1:611800197917:web:376f15d796baf093c9cff4"
    
resend mail api key
re_AGmqyP7W_23X94KU5CY1NnHVBoRS3upAG


re_SAReXyVZ_CXK2sjdke1eJTu4abo4mwZzh

🔧 Minor Enhancements
Use useMemo for stockData if it's filtered or transformed.

Use a chart loading skeleton instead of <Loading /> for better visual flow.

Add a fallback when selectedStock is null or empty.


Daily Work Log

