
.toggleButtonGroup {
    display: flex;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .toggleButton {
    flex: 1;
    padding: 0.75rem 0;
    text-align: center;
    font-weight: 500;
    transition-property: color, border-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #044236;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .toggleButton.active {
    color: #000;
    border-bottom: 2px solid #000;
  }